<div>
    <div><a href="#/users">Back to user list</a></div>
    Orders for user {{orderData.user.name}}<br />

    This week
    <table>
        <tr>
            <th>Date</th>
            <th>Description</th>
        </tr>
        <tr ng-repeat="order in orderData.thisWeekOrders">
            <td>{{order.date | date:'EEEE, dd.MM.yyyy'}}</td>
            <td>
                <select ng-model="order.description"
                        ng-options="desc for desc in orderData.availableOrderDescriptions">
                    <option value=""></option>
                </select>
            </td>
        </tr>
    </table>
    <button ng-click="saveOrders(orderData.thisWeekOrders)">Save</button>
    <br />

    Next week
    <table>
        <tr>
            <th>Date</th>
            <th>Description</th>
        </tr>
        <tr ng-repeat="order in orderData.nextWeekOrders">
            <td>{{order.date | date:'EEEE, dd.MM.yyyy'}}</td>
            <td>
                <select ng-model="order.description"
                        ng-options="desc for desc in orderData.availableOrderDescriptions">
                    <option value=""></option>
                </select>
            </td>
        </tr>
    </table>
    <button ng-click="saveOrders(orderData.nextWeekOrders)">Save</button>
    <!--
    <table>
        <tr>
            <th>Date</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
        <tr ng-repeat="order in orders">
            <td>{{order.date}}</td>
            <td>{{order.description}}</td>
            <td><button ng-click="deleteOrder(order)">Delete</button></td>
        </tr>
        <tr>
            <td><input ng-model="newOrder.date" /></td>
            <td><input ng-model="newOrder.description" /></td>
            <td><button ng-click="addOrder(newOrder)">Add order</button></td>
        </tr>
    </table>-->
</div>