<div>
    Users
    <table>
        <tr>
            <th>Action</th>
            <th>Name</th>
            <th>Email</th>
            <th>Orders</th>
        </tr>
        <tr data-ng-repeat="user in users">
            <td><button ng-click="deleteUser(user)">Delete</button></td>
            <td>{{user.name}}</td>
            <td><a href="mailto:{{user.email}}">{{user.email}}</a></td>
            <td><a ng-href="#/users/{{user.email}}/orders">Orders</a></td>
        </tr>
        <tr>
            <td><button ng-click="addUser(newUser)">Create</button></td>
            <td><input ng-model="newUser.name" /></td>
            <td><input ng-model="newUser.email" /></td>
            <td></td>
        </tr>
    </table>
</div>